@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #00d7c3;
    padding: 10px 40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img{
    width: 150px;
}

.navbar .nav-links a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    color: #ffffff;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }


.navbar .search-bar{
    background-color: #ffffff;
    padding: 5px 10px 5px 20px;
    align-items: center;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.navbar .search-bar input{
    border: none;
    outline: none;
    margin: auto;
    padding: 5px;
    width: 300px;
}

.navbar .search-bar i{
    color: #00d7c3;
    cursor: pointer;
}

.hero{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('./images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2{
    color: #e7e7e7;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-size: 4rem;
}

.hero .smal{
    color: #cbcbcb;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.hero p{
    color: #cbcbcb;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}

.motives{
    max-width: 1140PX;
    margin: auto;
    padding: 100PX 40PX;
}

.motives h2{
    margin: 20px 0px;
    font-family: 'Poppins', sans-serif;
}
.motives .list-items li{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.motives ul .list-{
    background-color: rgb(9,196,200);
    margin-top: 10px;
    height: auto;
    width: auto;
    padding: 90px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.motives ul .list-:nth-child(odd){
    border-radius: 10px 0px 0px 10px;
}

.motives ul .list-:nth-child(even){
    border-radius: 0px 10px 10px 0px;
}

.motives ul .list-:hover{
    box-shadow: 0 0 10px 0 rgba(13, 249, 225, 0.714) inset, 0 0 20px 2px rgb(93, 93, 93);

}

.motives .list-items  img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.domains{
    padding: 100px 40px;
    background-color: rgb(9, 190, 200);
    border-radius: 10px;
}

.inside-domain{
    width: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

}

.inside-domain h2{
    margin: 20px 0px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.inside-domain hr{
    color: #000;
}


.inside-domain .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;

}

.inside-domain .items .item{
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-decoration: none;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin: 20px;
}

.inside-domain .items .item .item-content{
    text-align: left;
    padding: 10px;
}

.inside-domain .items .item .item-content .item-head{
 font-weight: 600;
 font-size: 1.5rem;
}
.items .item .item-content .item-desc{
    font-weight: 400;
    margin-top: 8px;
    color: #222222;
    transition: 0.2s ease-in-out;
}
.items .item .item-content .item-desc i{
    transition: 0.2s ease-in-out;
    opacity: 0.8;
}

.inside-domain .items .item:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
.inside-domain .items .item:hover img{
    transform: scale(1.1) rotate(10deg);
}
.inside-domain .items .item:hover .item-desc p{
   text-decoration: underline;
}

.inside-domain .items .item:hover .item-desc i{
   transform: translateX(10px);
}

.inside-domain .items .item img{
    width: 150px;
    transition: .2s ease-in-out;
    margin-bottom: 20px;
}

.inside-domain .items .item p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #222222;
    font-weight: 600;
}




  /* ----- Footer -----  */

  .footer{
    background-color: #1E2D2F;
    padding: 20px 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer-name{
    margin-top: 10px;
}

.footer-name h4{
    font-size: 2rem;
    color: #f5f5f5;
}
.footer-name p{
    font-size: 1rem;
    color: #d8d8d8;
}

.footer-content{
    margin-top: 15px;
    color: #868686;

}

.footer-content span{
    margin: 4px;
}

.footer-content span a{
  color: #afafaf;
  text-decoration: none;
  font-size: 13px;
}

@media screen and (max-width: 400px){
  .footer-name h4{
      font-size: 1.7rem;
  }
  .footer-name p{
      font-size: 0.8rem;
  }
  .footer{
      padding: 20px 10px;
  }
  .footer-content span{
      margin: 2px;
  }

  .footer-content span a{
    font-size: 10px;
}
}





/* ----- Footer -----  */
